<div class="div1">
<div class="container my-5">
    <h1 class="container my-3">Rooms</h1>
    <div class="sidenav">
      <a routerLink="/Manager">Home</a>
      <a routerLink="/Rooms">Room</a>
      
      
      <a routerLink="/Employee"> Receptionist</a>
     
      <button class="btn btn-success pull-right"  style="margin-top: 530px;margin-left: 20px; "  (click)="logout()">Log Out</button>
    </div>
    <!-- <a [routerLink]="['/Rooms','add']">Add new Room</a> -->
    <a [routerLink]="['/Rooms','add']"><button class="btn btn-success pull-right"style="margin-left: 1150px">Add New Room</button></a>
    
    <div class="div2">
<table class="table" *ngIf="rooms && rooms.length > 0">
    <thead>
      <tr>
        <th scope="col">Room Id</th>
        <th scope="col">Room Status</th>
        <th scope="col">Room Comment</th>
        <th scope="col">Room Inventory</th>
        <th scope="col">Room Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{room.Room_Id}}</td>
        <td *ngIf="room.Room_Status==true">Available</td>
        <td *ngIf="room.Room_Status==false">Booked</td>
        <td>{{room.Room_Comment}}</td>
        <td>{{room.Room_Inventory}}</td>
        <td>{{room.Room_Price }}</td>
        
        <td><a [routerLink]="['/Rooms','edit', room.Room_Id]"><button class="btn btn-success pull-right" >Update</button></a></td>
      </tr>
        
    </tbody>
  </table>
    
  <p *ngIf="!rooms || rooms && rooms.length <= 0">No rooms found</p>
</div>
</div>
</div>