
<div class="content">
<h1>Welcome Receptionist</h1>

<!-- The sidebar -->

 
  <!-- Page content -->
  
    
  <div class="sidenav">
    <a routerLink="/Rooms/BookedRoom">Booked Rooms</a>
    <a routerLink="/Rooms/UnbookedRoom">Available Rooms</a>
    <a routerLink="/Guest"> Guest</a>
    <a routerLink="/Reservation"> Reservation</a>
    <a routerLink="/Bill">Bill</a>
   
    <a routerLink="/Payment">Payment</a>
   
    <button class="btn btn-success pull-right"  style="margin-top: 390px;margin-left: 20px; "  (click)="logout()">Log Out</button>
  </div>
  <div class="wrapper">
    <!-- <a routerLink="about_us"><button class="details">About Us</button></a> -->
 
</div>

<div class="bit">
<p>To Contact Us :-<br> Mail: HotelCalifornia@gmail.com <br> Number: 8750298765
</p>
</div>
</div>
  
  

