<div class="content">
  <h1>Welcome Manager </h1>

  <!-- The sidebar -->

  <a routerLink="/">Log Out</a>
  <!-- Page content -->
  <div class="wrapper">
      <!-- <a routerLink="about_us"><button class="details">About Us</button></a> -->
   
  </div>
 
  <div class="bit">
<p>To Contact Us :-<br> Mail: HotelCalifornia@gmail.com <br> Number: 8750298765
  </p>
</div>
  <div class="sidenav">

      <a routerLink="/Rooms">Room</a>


      <a routerLink="/Employee"> Receptionist</a>

      <button class="btn btn-success pull-right" style="margin-top: 572px;margin-left: 20px; " (click)="logout()">Log Out</button>
  </div>
</div>
