<div class="divi">
  <div class="container">
      <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm)"> -->
        <h2 class="form-signin-heading">Manager Login</h2>
          <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
          <br/>
          <div class="div1">
          <label for="userid" class="sr-only">User Id</label><br>
          <input  type="number" id="userid" name="userid" [(ngModel)]="userid" 
            class="box1" placeholder="User Id" required>

          <br/>
          <label for="password" class="sr-only">Password</label><br>
          <input type="password" id="password" name="password" [(ngModel)]="password" 
            class="box2" placeholder="Password" required>
          <br/>
          <button class="btn btn-lg btn-primary" (click)="LoginOwner()" ><span></span>Log in</button>
        </div>
      <!-- </form> -->
    </div>
  </div>