<div class="content">
  
  <h1 >Welcome Owner</h1>
    <div class="sidenav">
      <a routerLink="/AllGuest"> Guest Details</a> 
      <a routerLink="/Department">Department</a>
      <a routerLink="/AllRooms"> Rooms Details</a>
      <button class="btn btn-success pull-right"  style="margin-top: 532px;margin-left: 20px; "  (click)="logout()">Log Out</button>
    </div>
    <div class="wrapper">
      <!-- <a routerLink="about_us"><button class="details">About Us</button></a> -->
   
  </div>
 
  <div class="bit">
<p>To Contact Us :-<br> Mail: HotelCalifornia@gmail.com <br> Number: 8750298765
  </p>
</div>
  </div>
