
  h1 {
    text-align:center;
    color:black;
}
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .content{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/17/09/28/hotel-1831072_960_720.jpg);
    background-size: cover;
    background-position: top center;
  }
  .details {
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 50px;
    border-radius: 25px;
    font-weight: bold;
    border: 2.5px solid rgb(255, 255, 255);
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  }
  .bit{
  
    position: relative;
    top: 0%;
    left: 35%;
    max-width: fit-content;
    text-align: center;
    padding-left: 630px;
    padding-top: 540px;
}
    
.button:hover {
  background: #06D85F;
}

.details:hover {
  background: #06D85F;
}

.wrapper {
  position: relative;
  top: 0%;
  left: 35%;
  max-width: fit-content;
  text-align: center;
  padding-left: 800px;
}


.wrapper a {
  max-width: fit-content;
}
.content p {
  max-width: fit-content;
  color: white;
  position: relative;
  top: -10%;
  left: 60%;
  font-size: large;
  font-family: sans-serif;
  font-weight: 100;
}